@use '../../global' as *;

//------------------------------------
//
//  制作実績 - 一覧
//
//------------------------------------

//  一覧ページ上部の見出し帯の余白
.p-works-header {
  padding-top: unit(64);
}

//----------------------------------------
//  カード一覧（PC3カラムグリッド）
//----------------------------------------
.p-works-card-list {
  display: grid;
  gap: unit(30);

  @include mq-up() {
    grid-template-columns: repeat(3, 1fr);
  }
}
