@use "../../global" as *;
//------------------------------------------------
//
//  見出しセット
//
//------------------------------------------------

//------------------------------------------------
//  セクション系
//------------------------------------------------
.c-heading-section {
  display: block;
  width: 100%;
}

.c-heading-section__en {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  padding-bottom: unit(4);
  border-bottom: unit(1) solid var(--color-site-warm);
  color: var(--color-site-warm);
  @include fs(14, 20, bold);
  @include ls(0);
}

.c-heading-section__title {
  display: block;
  width: 100%;
  margin-top: unit(12);
  color: var(--color-site-text);
  word-break: keep-all;
  @include fs(24, 36, bold);
  @include mq-up() {
    @include fs(40, 56, bold);
  }
}
